#Fri, 29 Mar 2013 16:54:57 -0700
app.name=HelloWorld

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=8a66a8e1-35e7-4761-b7ff-e49c023320e1
